  <footer>
    <div class="container">
      <p>&copy;2016 Alice Li. All rights reserved.</p>
    </div>
  </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://use.fontawesome.com/22e9ff7291.js"></script>
<script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="fancybox/source/jquery.fancybox.js"></script>
<script type="text/javascript" src="fancybox/source/jquery.fancybox.pack.js"></script>
<!-- <script src="js/jquery.smoothState.min.js"></script> -->
<script src="js/main.js"></script>